._2c65{cursor:pointer;display:inline-block;white-space:nowrap}._2c65,._2c65:hover{text-decoration:none}._2c65::moz-focus-inner{border:0;padding:0}._2c65+._2c65{margin-left:4px}._2c66,._2c67{cursor:default}

#bootloader_6PrLF7t{height:42px;}.bootloader_6PrLF7t{display:block!important;}